.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 10%, rgba(8,7,42,1) 80%, rgb(7,5,45,1) 10%);
    color: white;
}

h1{
    top: 50%;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}